<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AMELEA Coiffure & Beauté</title>
    <link rel="stylesheet" href="../css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div id="conteneur">
      <h1 id="header">
				<a href="index.html" title="AMELEA Coiffure">
					 <!-- <span class ="logo">AMELEA Coiffure & Beauté</span> -->
				</a>
			</h1>

      <div>
  				<table align="center" cellspacing="10">
  					<tr>
  						<td class="button" ><a href="index.html">Accueil</a></td>
  						<td class="button" id="coiffure"><a href="tarif.html">Coiffure</a></td>
  						<td class="button" id="galerie"><a href="galerie.html">Galerie</a></td>
  						<td class="button" id="info"><a href="info.html">Infos</a></td>
  						<td class="button" id="contact"><a href="contact.htm">Contact</a></td>
  					</tr>
  				</table>
  			</div>
  			<br/>

        <div id="contenu">
          <ul id="thumbs">
  			      <li>
  			        <a href="3bacs.jpg">
  			          <img alt=""
  			            src="3bacsSmall.png" />
  			        </a>
  			      </li>
  			      <li>
  			        <a href="gallery/big/bac-shampoing2.jpg">
  			          <img alt=""
  			            src="gallery/small/bac-shampoing2.png" />
  			        </a>
  			      </li>
  			      <li>
  			        <a href="gallery/big/exterieur-perspective.jpg">
  			          <img alt=""
  			            src="gallery/small/exterieur-perspective.png" />
  			        </a>
  			      </li>
  			      <li>
  			        <a href="gallery/big/salon.jpg">
  			          <img alt=""
  			            src="gallery/small/salon.png" />
  			        </a>
  			      </li>
  			      <li>
  			        <a href="gallery/big/salon-acceuil.jpg">
  			          <img alt=""
  			            src="gallery/small/salon-acceuil.png" />
  			        </a>
  			      </li>
  			      <li>
  			        <a href="gallery/big/salon-longueur.jpg">
  			          <img alt=""
  			            src="gallery/small/salon-longueur.png" />
  			        </a>
  			      </li>
  			      <li>
  			        <a href="gallery/big/salon-produit.jpg">
  			          <img alt=""
  			            src="gallery/small/salon-produit.png" />
  			        </a>
  			      </li>
  			      <li>
  			        <a href="gallery/big/siege-focus.jpg">
  			          <img alt=""
  			            src="gallery/small/siege-focus.png" />
  			        </a>
  			      </li>
  			      <li>
  			        <a href="gallery/big/sieges-perspective.jpg">
  			          <img alt=""
  			            src="gallery/small/sieges-perspective.png" />
  			        </a>
  			      </li>
  			    </ul>

      </div> <!-- contenu -->

        <p id="footer">AMELEA Coiffure & Beauté 74 rue Dunois 75013 Paris Tél : 01.45.85.81.86</p>
    </div>
  </body>
</html>
