<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AMELEA Coiffure & Beauté</title>
    <link rel="stylesheet" href="../css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div id="conteneur">
      <h1 id="header">
				<a href="#index.html" title="AMELEA Coiffure">
					 <!-- <span class ="logo">AMELEA Coiffure & Beauté</span> -->
				</a>
			</h1>

      <div>
  				<table align="center" cellspacing="10">
  					<tr>
  						<td class="button" ><a href="index.html">Accueil</a></td>
  						<td class="button" id="coiffure"><a href="tarif.html">Coiffure</a></td>
  						<td class="button" id="galerie"><a href="galerie.html">Galerie</a></td>
  						<td class="button" id="info"><a href="info.html">Infos</a></td>
  						<td class="button" id="contact"><a href="contact.html">Contact</a></td>
  					</tr>
  				</table>
  			</div>
  			<br/>

        <div id="contenu">
          <p id="titre">CONTACT</p>


              <p id="centre">
                <u>Plan d'accès :</u><br/><br/>
        <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="http://maps.google.fr/maps?q=18+rue+Wurtz75013+PARIS&amp;ie=UTF8&amp;hq=&amp;hnear=74+Rue+Dunois,+75013+Paris,+Ile-de-France&amp;gl=fr&amp;ll=48.828834,2.349358&amp;spn=0.00678,0.013733&amp;z=16&amp;output=embed"></iframe><br/>
        <br/>


      </div> <!-- contenu -->

        <p id="footer">AMELEA Coiffure & Beauté 74 rue Dunois 75013 Paris Tél : 01.45.85.81.86</p>
    </div>
  </body>
</html>
