<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AMELEA Coiffure & Beauté</title>
    <link rel="stylesheet" href="../css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div id="conteneur">
      <h1 id="header">
				<a href="index.html" title="AMELEA Coiffure">
					 <!-- <span class ="logo">AMELEA Coiffure & Beauté</span> -->
				</a>
			</h1>

      <div>
  				<table align="center" cellspacing="10">
  					<tr>
  						<td class="button" ><a href="index.html">Accueil</a></td>
  						<td class="button" id="coiffure"><a href="tarif.html">Coiffure</a></td>
  						<td class="button" id="galerie"><a href="galerie.html">Galerie</a></td>
  						<td class="button" id="info"><a href="infos.html">Infos</a></td>
  						<td class="button" id="contact"><a href="contact.html">Contact</a></td>
  					</tr>
  				</table>
  			</div>
  			<br/>

        <div id="contenu">

          <div id="coiffure">
            <p id="titre">NOS PRESTATIONS FEMMES<br/>(tarifs cheveux courts)*
  					<table class="tabTarif">
  						<tr>
  							<td>Shampooing coupe brushing</td>
  							<td align="right">35 &euro;</td>
  						</tr>
  						<tr>
  							<td>Shampooing coupe séchage</td>
  							<td align="right">29 &euro;</td>
  						</tr>
  						<tr>
  							<td>Shampooing brushing</td>
  							<td align="right">24 &euro;</td>
  						</tr>

  						<tr>
  							<td>Chignions et coiffures de soirée (sur devis)</td>
  							<td align="right" width="120px">à partir de 50 &euro;</td>
  						</tr>
  						<tr height="10">
  							<td></td>
  							<td></td>
  						</tr>
  						<tr>
  							<td><i>*Supplément cheveux mi-longs (base des épaules)</i></td>
  							<td align="right"><i>+ 4 &euro;</i></td>
  						</tr>
  						<tr>
  							<td><i>*Supplément cheveux longs (20 cm sous les épaules)</i></td>
  							<td align="right"><i>+ 12 &euro;</i></td>
  						</tr>
  					</table>
  				</p>
  				<br/>
  				<p id="titre">NOS TECHNIQUES</p>
  				<table class="tabTarif">
  					<tr>
  						<td>Coloration</td>
  						<td align="right">à partir de 35 &euro;</td>
  					</tr>
  					<tr>
  						<td>Coloration <a href="http://www.lorealprofessionnel.fr/coloration/inoa" target="_blank">INOA</a></td>
  						<td align="right">45 &euro;</td>
  					</tr>

  					<tr>
  						<td>Mèches et Balayages (sur devis)</td>
  						<td align="right">à partir de 47 &euro;</td>
  					</tr>
  					<tr>
  						<td>Décoloration et Décapage</td>
  						<td align="right">à partir de 35 &euro;</td>
  					</tr>
  					<tr>
  						<td>Permanente</td>
  						<td align="right">à partir de 37 &euro;</td>
  					</tr>
  					<tr>
  						<td>
  							Lissage X-TENSO MOISTURIST* (sur devis)<br/>
  							&nbsp;&nbsp;&nbsp;&nbsp;réduction de volume<br/>
  							&nbsp;&nbsp;&nbsp;&nbsp;lissage brésilien<br/>
  							&nbsp;&nbsp;&nbsp;&nbsp;lissage japonais
  						</td>
  						<td align="right"><br/>
  							à partir de 75 &euro;<br/>
  							à partir de 150 &euro;<br/>
  							à partir de 190 &euro;<br/>
  						</td>
  					</tr>
  				</table>
  				<br/>
  				<i>
  					Toutes nos techniques sont suivies d'un soin adapté à la nature de vos cheveux.<br/>
  					Toute notre équipe a été formée par des spécialistes du lissage chez L'OREAL pour vous garantir un résultat optimum.
  				</i>
  				<br/>
  				<p id="titre">NOS SOINS</p>
  				<p><b>Soins L'Oréal </b></p>
  				<br/><br/>
  				<table class="tabTarif">
  					<tr>
  						<td>Soin avec ou sans rinçage</td>
  						<td align="right">9 &euro;</td>
  					</tr>
  					<tr>
  						<td>Masque profond</td>
  						<td align="right">10 &euro;</td>
  					</tr>
  					<tr>
  						<td>Soin <a href="http://www.lorealprofessionnel.fr/pro-fiber" target="_blank">FRO FIBER</a> (pour cheveux très sensibilisés)</td>
  						<td align="right">15 &euro;</td>
  					</tr>
  					<tr>
  						<td>Ampoule anti-chute Aminexil</td>
  						<td align="right">10 &euro;</td>
  					</tr>
  				</table>
  				<br/>
  				<br/>

  				<p id="titre">NOS PRESTATIONS ET TECHNIQUES POUR LES HOMMES</p>
  					<table class="tabTarif">
  						<tr>
  							<td>Shampooing coupe séchage</td>
  							<td align="right">24 &euro;</td>
  						</tr>

  						<tr>
  							<td>Coloration</td>
  							<td align="right">30 &euro;</td>
  						</tr>
  						<tr>
  							<td>Lissage et réduction de volume</td>
  							<td align="right">à partir 40 &euro;</td>
  						</tr>
  					</table>
  				</p>
  				<br/>
  				<br/>
  				<p id="titre">ENFANTS</p>
  				<table class="tabTarif">
  					<tr>
  						<td><ul><li>Pour les petits bouts (sans shampooing)</li></ul></td>
  						<td align="right">15 &euro;</td>
  					</tr>
  					<tr>
  						<td><ul><li>Pour les filles (jusqu'à 12 ans) Shampooing coupe coiffage</li></ul></td>
  						<td align="right">17 &euro; à 23 &euro;</td>
  					</tr>
  					<tr>
  						<td><ul><li>Pour les garçons (jusqu'à 12 ans) Shampooing coup séchage</li></ul></td>
  						<td align="right">17 &euro;</td>
  					</tr>
  				</table>
  				<br/>
          <br/>
        </div> <!-- coiffure -->

      </div> <!-- contenu -->

        <p id="footer">AMELEA Coiffure & Beauté 74 rue Dunois 75013 Paris Tél : 01.45.85.81.86</p>
    </div>
  </body>
</html>
